# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [27]:
import pandas as pd
import numpy as np
import math

In [39]:
import codecs
f = codecs.open("files_for_lab/machine.txt", "r", "utf-16")

In [42]:
df=pd.read_csv(f, sep = "\t")

In [43]:
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [47]:
df.columns = ['New machine','Old machine']

In [48]:
n= len(df)
n1=n
n2=n
sample_mean1= np.mean(df['New machine'])
sample_mean2= np.mean(df['Old machine'])
sample_std1=np.std(df['New machine'])
sample_std2=np.std(df['Old machine'])

In [49]:
pooled_sample_std = math.sqrt(((n1-1)*sample_std1**2 + (n2-1)*sample_std2**2)/(n1+n2-2))
statistic = (sample_mean1-sample_mean2)/(pooled_sample_std*math.sqrt((1/n1)+(1/n2)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.5809955894645813

In [50]:
from scipy.stats import t
# Using python to find the p value and critical value
print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.05, n1+n2-2)) #alpha is 0.05

P value is:  0.9989322065983063
Critical Value of z is:  -1.734063606617536

In [51]:
if (1-t.cdf(statistic,n1+n2-2)) > 0.05:
    print("Therefore we faild to reject the null hypothesis Ho")

Therefore we faild to reject the null hypothesis Ho

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

In [55]:
df2=pd.read_csv("files_for_lab/student_gpa.txt", sep = "\t")
df2

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [60]:
df2.columns = ['Sophomores','Juniors']

In [62]:
sample_mean1= np.mean(df2['Sophomores'])
sample_mean2= np.mean(df2['Juniors'])
sample_std1=np.std(df2['Sophomores'])
sample_std2=np.std(df2['Juniors'])
n1= len(df2['Sophomores'])
n2= len(df2['Juniors'])

In [63]:
statistic = (sample_mean1-sample_mean2)/(math.sqrt(((sample_std1**2)/n1)+(sample_std2**2)/n2))

print("T Statistic is: ", statistic)

T Statistic is:  -0.9915851252441115

In [64]:
from scipy.stats import t
# Using python to find the p value and critical value
print("P value is: ", 1- t.cdf(statistic,n1+n2-2))
print("Critical Value of z is: ", t.ppf(0.025, n1+n2-2)) #alpha is 0.05

P value is:  0.8355804580905997
Critical Value of z is:  -2.036933343460101

In [66]:
print("Therefore we reject the null hypothesis Ho")

Therefore we reject the null hypothesis Ho